<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id"
        content="593359421081-pqsqpjj6ram79fguk4i6ord47pj4crgo.apps.googleusercontent.com">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item">
                M3Explorer
                _<i class="pencil alternate icon"></i>
            </div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New post</a>
            <div class="g-signin2 set item right floated" style="padding-top: 18px;"  data-onsuccess="onSignIn"></div>
            <a href="#" class="item" onclick="signOut();">Sign out</a>
            <script>
                function signOut() {
                    var auth2 = gapi.auth2.getAuthInstance();
                    auth2.signOut().then(function () {
                        console.log('User signed out.');
                    });
                }
            </script>
        </div>
        <script>
            function onSignIn(googleUser) {
                var profile = googleUser.getBasicProfile();
                console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                console.log('Name: ' + profile.getName());
                console.log('Image URL: ' + profile.getImageUrl());
                console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            }
        </script>
    </div>